@model Sneaky.Classes.Shoe

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="wrapper animate__animated animate__fadeInUp">
        <div class="title bg-danger"><span>Delete Shoe</span></div>
        <div class="animate__animated animate__zoomIn animate__delay-1s">
            <div class="card border-0">
                <dl class="row px-5 pt-5">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Brand.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Images)
                    </dt>
                    <dd class = "col-sm-10">
                        @foreach (var shoePath in Model.Images)
                        {
                            <img src="@Url.Content("~/shoesPhotos/" + shoePath)" class="shoe-img card p-1 d-inline" />
                        }
                    </dd>
                </dl>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="row button">
                    <input type="submit" value="Delete" class="btn w-25 bg-danger border-danger" />
                    <a asp-action="Index" class="btn outline-button-danger w-25">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
