@model Sneaky.Classes.User

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="wrapper animate__animated animate__fadeInUp">
        <div class="title"><span>Details @Model.Login</span></div>
        <dl class="row px-5 pt-5">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Login)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Login)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Comparison)
            </dt>
            <dd class = "col-sm-10">
                @if (Model.Comparison != null && Model.Comparison!.Shoes != null && Model.Comparison.Shoes.Count > 0)
                {
                    <div class="card m-2 p-2">
                        <div class="row row-cols-lg-2">
                            @foreach (var shoe in Model.Comparison.Shoes)
                            {
                                var FirstImage = shoe.Images.First();
                                <div class="card p-2 m-2">
                                    <div class="card-header">
                                        <img src="~/shoesPhotos/@FirstImage" class="card-img-top" />
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>@shoe.Brand?.Name @shoe.Name</span>
                                        @if (ViewBag.Id == Model.Id)
                                        {
                                            <a asp-controller="Shoes" asp-action="RemoveFromComparison" asp-route-shoeId="@shoe.Id" class="btn btn-danger">Remove</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div>No comparisons found.</div>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Favourite)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Favourite != null && Model.Favourite!.Shoes != null && Model.Favourite.Shoes.Count > 0)
                {
                    <div class="card m-2 p-2">
                        @foreach (var shoe in Model.Favourite.Shoes)
                        {
                            <div class="card p-2 m-2">
                                <div class="card-img-top">
                                    @foreach (var image in shoe.Images)
                                    {
                                        <img src="~/shoesPhotos/@image" class="shoe-img"/>
                                    }
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>@shoe.Brand?.Name @shoe.Name</span>
                                    @if (ViewBag.Id == Model.Id)
                                    {
                                        <a asp-controller="Shoes" asp-action="RemoveFromFavourites" asp-route-shoeId="@shoe.Id" class="btn btn-danger">Remove</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div>No favourites found.</div>
                }
            </dd>
        </dl>
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="row button">
                <input type="submit" value="Edit" class="btn w-25" />
                <a asp-action="Index" class="btn outline-button w-25">Back to List</a>
            </div>
        </form>
    </div>
</div>